name: {{ _target_name }}
description: Ovirt Target - {{ _target_name }}
organization: "{{ aap_seed_aap_org_name }}"
credential_type: Ovirt Migration Target
inputs:
  name: "{{ migration_target['name'] }}"
  host: "{{ migration_target['host'] }}"
  password: "{{ migration_target['password'] }}"
  username: "{{ migration_target['username'] }}"
  provider_name: "ovirt"
  insecure_ssl: {{ migration_target['insecureSkipTlsVerify'] | default(false) }}
  credentials_secret_ref: {{ migration_target['credentialsSecretRef'] | default(omit) }}
