---

openshift_bootstrap:
  - name: 'bootstrap'
    mac: 'AA:AA:AA:AA:AA:AA'
    ip: '192.168.1.50'
    device: 'ens192'
    netmask: '255.255.255.0'
    gateway: '192.168.1.1'
    hostname: 'bootstrap.{{ ocp_cluster_name }}.{{ ocp_base_domain }}'
    nameserver: '192.168.1.42'
    ignserver: 'http://192.168.1.42:8090'
    bios_path: 'install/rhcos-{{ rhcos_ver }}-{{ arch }}-metal.{{ arch }}.raw.gz'
    ign_path: 'ignition/bootstrap.ign'
    type: 'bootstrap'

openshift_masters:
  - name: 'master0'
    ip: '192.168.1.51'
    device: 'ens192'
    mac: '00:50:56:97:7d:3c'
    netmask: '255.255.255.0'
    gateway: '192.168.1.1'
    hostname: 'master0.{{ ocp_cluster_name }}.{{ ocp_base_domain }}'
    nameserver: '192.168.1.42'
    ignserver: 'http://192.168.1.42:8090'
    bios_path: 'install/rhcos-{{ rhcos_ver }}-{{ arch }}-metal.{{ arch }}.raw.gz'
    ign_path: 'ignition/master0.ign'
    type: 'master'
  - name: 'master1'
    ip: '192.168.1.52'
    device: 'ens192'
    mac: '00:50:56:97:5e:fc'
    netmask: '255.255.255.0'
    gateway: '192.168.1.1'
    hostname: 'master1.{{ ocp_cluster_name }}.{{ ocp_base_domain }}'
    nameserver: '192.168.1.42'
    ignserver: 'http://192.168.1.42:8090'
    bios_path: 'install/rhcos-{{ rhcos_ver }}-{{ arch }}-metal.{{ arch }}.raw.gz'
    ign_path: 'ignition/master1.ign'
    type: 'master'
  - name: 'master2'
    ip: '192.168.1.53'
    device: 'ens192'
    mac: '00:50:56:97:1e:f8'
    netmask: '255.255.255.0'
    gateway: '192.168.1.1'
    hostname: 'master2.{{ ocp_cluster_name }}.{{ ocp_base_domain }}'
    nameserver: '192.168.1.42'
    ignserver: 'http://192.168.1.42:8090'
    bios_path: 'install/rhcos-{{ rhcos_ver }}-{{ arch }}-metal.{{ arch }}.raw.gz'
    ign_path: 'ignition/master2.ign'
    type: 'master'


openshift_workers:
  - name: 'worker0'
    ip: '192.168.1.61'
    device: 'ens192'
    mac: '00:50:56:97:1e:9b'
    netmask: '255.255.255.0'
    gateway: '192.168.1.1'
    hostname: 'worker0.{{ ocp_cluster_name }}.{{ ocp_base_domain }}'
    nameserver: '192.168.1.42'
    ignserver: 'http://192.168.1.42:8090'
    bios_path: 'install/rhcos-{{ rhcos_ver }}-{{ arch }}-metal.{{ arch }}.raw.gz'
    ign_path: 'ignition/worker0.ign'
    type: 'worker'
  - name: 'worker1'
    ip: '192.168.1.62'
    device: 'ens192'
    mac: '00:50:56:97:aa:49'
    netmask: '255.255.255.0'
    gateway: '192.168.1.1'
    hostname: 'worker1.{{ ocp_cluster_name }}.{{ ocp_base_domain }}'
    nameserver: '192.168.1.42'
    ignserver: 'http://192.168.1.42:8090'
    bios_path: 'install/rhcos-{{ rhcos_ver }}-{{ arch }}-metal.{{ arch }}.raw.gz'
    ign_path: 'ignition/worker1.ign'
    type: 'worker'
  - name: 'worker2'
    ip: '192.168.1.63'
    device: 'ens192'
    mac: '00:50:56:97:4c:2f'
    netmask: '255.255.255.0'
    gateway: '192.168.1.1'
    hostname: 'worker2.{{ ocp_cluster_name }}.{{ ocp_base_domain }}'
    nameserver: '192.168.1.42'
    ignserver: 'http://192.168.1.42:8090'
    bios_path: 'install/rhcos-{{ rhcos_ver }}-{{ arch }}-metal.{{ arch }}.raw.gz'
    ign_path: 'ignition/worker2.ign'
    type: 'worker'
