apiVersion: v1
kind: Secret
metadata:
  name: cpi-global-secret
  namespace: '{{ vsphere_namespace }}'
stringData:
  vsphere.{{ ocp_cluster_name }}.{{ ocp_base_domain }}.username: "{{ vcenter_username }}"
  vsphere.{{ ocp_cluster_name }}.{{ ocp_base_domain }}.password: "{{ vcenter_password }}"
