---
apiVersion: v1
kind: ConfigMap
data:
  vsphere.conf: |
    [Global]
    port = "{{ vcenter_port }}"
    insecure-flag = "true"
    secret-namespace = "{{ vsphere_namespace }}"
    secret-name = "cpi-global-secret"

    [VirtualCenter "{{ vcenter_hostname }}"]
    datacenters = "{{ datacenter_name }}"
