---
apiVersion: v1
kind: ConfigMap
data:
  vsphere.conf: |
    [Global]
    port = "{{ vcenter_port }}"
    secret-name = "cpi-global-secret"
    secret-namespace = "{{ vsphere_namespace }}"
    insecure-flag = "true"

    [Workspace]
    server = "{{ vcenter_hostname }}"
    datacenter = "{{ datacenter_name }}"
    default-datastore = "{{ datastore_name }}"
    folder = "{{ ocp_cluster_name }}"

    [VirtualCenter "{{ vcenter_hostname }}"]
    datacenters = "{{ datacenter_name }}"
