cloud-credential-operator-iam-ro-creds-orig.yaml
ebs-cloud-credentials-orig.yaml
installer-cloud-credentials-orig.yaml
cloud-credentials-orig.yaml
aws-cloud-credentials-orig.yaml
cloud-credentials-orig.yaml
