default menu.c32   
 prompt 1
 timeout 9
 ONTIMEOUT 1
 menu title ######## PXE Boot Menu for Bootstrap Node ########  
 label 1
 menu label ^1) Install Bootstrap Node
 menu default
{% if rhcos_ver[:3] | float < 4.6 %}
 kernel rhcos/rhcos-{{ rhcos_ver }}-{{ arch }}-installer-kernel-{{ arch }}
 append initrd=rhcos/rhcos-{{ rhcos_ver }}-{{ arch }}-installer-initramfs.{{ arch }}.img nomodeset rd.neednet=1 coreos.inst=yes coreos.inst.install_dev={{ disk | default('sda') }} coreos.inst.image_url={{ ignserver }}/install/bios.raw.gz coreos.inst.ignition_url={{ ignserver }}/{{ ocp_cluster_name }}/ignition/bootstrap.ign
{% else %}
 kernel rhcos/rhcos-{{ rhcos_ver }}-{{ arch }}-live-kernel-{{ arch }}
 append initrd=rhcos/rhcos-{{ rhcos_ver }}-{{ arch }}-live-initramfs.{{ arch }}.img nomodeset rd.neednet=1 coreos.inst=yes coreos.inst.install_dev={{ disk | default('sda') }} coreos.inst.image_url={{ ignserver }}/install/bios.raw.gz coreos.inst.ignition_url={{ ignserver }}/{{ ocp_cluster_name }}/ignition/bootstrap.ign
{% endif %}

