default menu.c32   
 prompt 1
 timeout 9
 ONTIMEOUT 1
 menu title ######## PXE Boot Menu for Master Nodes ########  
 label 1
 menu label ^1) Install Master Node
 menu default
{% if rhcos_ver[:3] | float < 4.6 %}
 kernel rhcos/rhcos-{{ rhcos_ver }}-{{ arch }}-installer-kernel-{{ arch }}
 append initrd=rhcos/rhcos-{{ rhcos_ver }}-{{ arch }}-installer-initramfs.{{ arch }}.img nomodeset rd.neednet=1 coreos.inst=yes coreos.inst.install_dev={{ item.disk | default('sda') }} coreos.inst.image_url={{ openshift_bootstrap[0].ignserver }}/rhcos-{{ rhcos_ver }}-{{ arch }}-metal.{{ arch }}.raw.gz coreos.inst.ignition_url={{ openshift_bootstrap[0].ignserver }}/{{ ocp_cluster_name }}/ignition/master.ign coreos.inst.platform_id=metal coreos.inst.insecure
{% else %}
kernel rhcos/rhcos-{{ rhcos_ver }}-{{ arch }}-live-kernel-{{ arch }}
 append initrd=rhcos/rhcos-{{ rhcos_ver }}-{{ arch }}-live-initramfs.{{ arch }}.img coreos.live.rootfs_url={{ openshift_bootstrap[0].ignserver }}/rhcos/rhcos-{{ rhcos_ver }}-{{ arch }}-live-rootfs.{{ arch }}.img nomodeset rd.neednet=1 coreos.inst=yes coreos.inst.install_dev={{ item.disk | default('sda') }} coreos.inst.ignition_url={{ openshift_bootstrap[0].ignserver }}/{{ ocp_cluster_name }}/ignition/master.ign coreos.inst.platform_id=metal
{% endif %}
