default menu.c32
 prompt 1
 timeout 9
 ONTIMEOUT 1

 menu title ######## Default PXE Boot Menu ########

 label 1
 menu label ^1) Install Bootstrap Node
 menu default
 kernel rhcos/agent.x86_64-vmlinuz
 append initrd=rhcos/agent.x86_64-initrd.img coreos.live.rootfs_url=http://192.168.1.65/agent.x86_64-rootfs.img rw  ignition.firstboot ignition.platform.id=metal nomodeset rd.neednet=1
