name: "AAP Credential - {{ aap_seed_controller_hostname }}"
description: "AAP Credentials for {{ aap_seed_controller_hostname }}" 
organization: "{{ aap_seed_aap_org_name }}"
credential_type: "Red Hat Ansible Automation Platform"
inputs:
  host: {{ aap_seed_controller_hostname }}
  verify_ssl: {{ aap_seed_controller_validate_certs | default(true) }}
{% if controller_token is defined %}
  oauth_token: {{ controller_token }}
{% else %}
  username: {{ aap_seed_controller_username }}
  password: {{ aap_seed_controller_password }}
{% endif %}
