name: "{{ aap_seed_container_credential_name }}"
description: Container Registry Credential
organization: "{{ aap_seed_aap_org_name }}"
credential_type: Container Registry
inputs:
  host: "{{ aap_seed_container_host }}"
  password: "{{ aap_seed_container_password }}"
  username: "{{ aap_seed_container_username }}"
  verify_ssl: {{ aap_seed_container_verify_ssl | default(true) | bool }}
