name: "{{ aap_seed_git_credential_name }}"
description: Git access to clone repositories
organization: "{{ aap_seed_aap_org_name }}"
credential_type: Source Control
inputs:
{% if aap_seed_git_username %}
  username: "{{ aap_seed_git_username }}"
  password: "{{ aap_seed_git_password }}"
{% endif %}
{% if aap_seed_git_ssh_private_key %}
  ssh_key_data: {{ '|' }}
    {{ aap_seed_git_ssh_private_key | indent(4) }}
{% endif %}
{% if aap_seed_git_ssh_key_passphrase %}
  ssh_key_unlock: "{{ aap_seed_git_ssh_key_passphrase }}"
{% endif %}