---
name: "Kubeconfig - {{ _mf_host }}"
description: "Cluster Kubeconfig for {{ _mf_host }}"
organization: "{{ aap_seed_aap_org_name }}"
credential_type: "OpenShift or Kubernetes API Bearer Token"
inputs:
  host: "{{ hostvars[_mf_host]['openshift_host'] }}"
  bearer_token: '{{ hostvars[_mf_host]['openshift_api_key'] }}'
  verify_ssl: {{ hostvars[_mf_host]['openshift_verify_ssl'] | default(true) | bool }}
...
