name: Configure OpenShift Virtualization Migration
description: Configuration of Migration
organization: "{{ aap_seed_aap_org_name }}"
survey_enabled: false
allow_simultaneous: false
ask_variables_on_launch: false
inventory: "{{ aap_seed_aap_inventory }}"
state: present
simplified_workflow_nodes:
  - all_parents_must_converge: false
    identifier: Operator Configuration
    unified_job_template: Configure OpenShift Virtualization Migration - Deploy OpenShift Operators
    success_nodes:
      - Target Configuration
  - all_parents_must_converge: false
    identifier: Target Configuration
    unified_job_template: Configure OpenShift Virtualization Migration - Configure Migration Targets