apiVersion: k8s.cni.cncf.io/v1
kind: NetworkAttachmentDefinition
metadata:
  name: {{ nad.name }}
  namespace: {{ nad.namespace | default(network_mgmt_nad_namespace) }} 
  annotations: 
    infra.openshift-virtualization-migration/provider-type: manual
{% if 'portgroup' in nad and nad['portgroup'] | default("", true) | length > 0   %}
    infra.openshift-virtualization-migration/source-portgroup: {{ nad.portgroup }}
{% endif %}
{% if network_mgmt_openshift_network_bridge_mode == 'linux-bridge' %}
    k8s.v1.cni.cncf.io/resourceName: bridge.network.kubevirt.io/{{ network_mgmt_manual_bridge_name  }}
spec:
  config: | 
    {"name":"{{ nad.name  }}",
     "type":"cnv-bridge",
     "cniVersion":"0.3.1",
     "bridge": "{{ network_mgmt_manual_bridge_name }}",
     "macspoofchk":true,
     "preserveDefaultVlan":false,
     "ipam":{},
{% if 'trunk' in nad.vlan and nad.vlan.trunk %}
     "vlanTrunk":[
{% for vlan in nad.vlan.vlan_id %}
{% if '-' in vlan %}
     {"minID": {{ (vlan | split("-"))[0] }}, "maxID": {{ (vlan | split("-"))[1] }} }{{ "," if not loop.last }}
{% else %}
     {"id": {{ vlan | int }} }{{ "," if not loop.last }}
{% endif %}  
{% endfor %}
     ]
{% else %}
     "vlan": {{ nad.vlan.vlan_id | int }}
{% endif %}
     }
{% else %}
spec:
  config: |
    {"cniVersion": "0.4.0",
     "name": "{{nad.name}}",
     "type": "ovn-k8s-cni-overlay",
     "topology": "localnet",
{% if (nad.vlan.vlan_id | int) != 0%}
     "vlanID": {{ nad.vlan.vlan_id|int }},
{% endif %}
     "physicalNetworkName": "{{ network_mgmt_manual_localnet_name }}",
     "netAttachDefName": "{{ nad.namespace | default(network_mgmt_nad_namespace) }}/{{ nad.name }}"
    }
{% endif %}

