---
# The servername to use.
httpd_servername: "{{ ansible_fqdn }}"

# The non-SSL port to use.
httpd_port: 8080

# To configure https, set the hostname to listen to.
httpd_ssl_servername: "{{ ansible_fqdn }}"

# For SSL a TCP port is required.
httpd_ssl_port: 8443

# Set ProxyPreserveHost
httpd_proxy_preserve_host: true

httpd_listen: 80
httpd_listen_ssl: 443

# Relative to /etc/pki/tls/certs/
httpd_ssl_certificate_file: 'local.crt'

# Relative to /etc/pki/tls/private/
httpd_ssl_certificate_key_file: 'local.key'

httpd_document_root: '/var/www/html'
