---
bootstrap:
  name: "bootstrap.{{ cluster_name }}.{{ ocp_base_domain }}"
  ipaddr: "10.0.106.50"
#  macaddr: "52:54:00:60:72:67"
masters:
  - name: "master0.{{ cluster_name }}.{{ ocp_base_domain }}"
    ipaddr: "10.0.106.51"
#    macaddr: "52:54:00:e7:9d:67"
  - name: "master1.{{ cluster_name }}.{{ ocp_base_domain }}"
    ipaddr: "10.0.106.52"
#    macaddr: "52:54:00:80:16:23"
  - name: "master2.{{ cluster_name }}.{{ ocp_base_domain }}"
    ipaddr: "10.0.106.53"
#    macaddr: "52:54:00:d5:1c:39"
workers:
  - name: "worker0.{{ cluster_name }}.{{ ocp_base_domain }}"
    ipaddr: "10.0.106.61"
#    macaddr: "52:54:00:f4:26:a1"
  - name: "worker1.{{ cluster_name }}.{{ ocp_base_domain }}"
    ipaddr: "10.0.106.62"
#    macaddr: "52:54:00:82:90:00"
  - name: "worker2.{{ cluster_name }}.{{ ocp_base_domain }}"
    ipaddr: "10.0.106.63"
#    macaddr: "52:54:00:8e:10:34"
