template:
  spec:
    accessCredentials:
      - sshPublicKey:
          source:
            secret:
              secretName: {{ ssh_target['secret'] }}
          propagationMethod:
            qemuGuestAgent: 
              users: {{ ssh_target['users'] if 'users' in ssh_target else vm_ssh_default_users }}