      .warningbanner {
         overflow: hidden;
         background-color: #7FFF00;
         position: fixed; /* Set the navbar to fixed position, should this be absolute????? */
         top: 0; /* Position the navbar at the top of the page */
         left: 0;
         width: 100%; /* Full width */
         text-align: center;
       }
