# Set this to something else if you have multiple on the same host

OCP_CLUSTER_NAME="caas"
OCP_BASE_DOMAIN="cia.ic.gov"

SCRIPT_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"

OPENSHIFT_INSTALL=/usr/local/bin/openshift-install
OC=/usr/local/bin/oc
KUBECTL=/usr/local/bin/kubectl

# AMIs
# 4.3
# AMI=''
# 4.4
#AMI=''
# 4.5
AMI='ami-04593971b1fc07aee'

INSTALL_CONFIG="${SCRIPT_DIR}/install-config.yaml"
FILETRANSPILE="/usr/local/bin/filetranspile"
FAKEROOTS="${SCRIPT_DIR}/fake-roots"
IGNITION_CONFIGS="${SCRIPT_DIR}/openshift4"
MASTERS=3
WORKERS=3

# AWS CLI commands to launch instances
HTTPD_IP=""

# Note: Uncomment the Endpoints that work for your environment
#       If no ENDPOINT variables are set then the aws cli will use whatever the defaults
#       are in your environment

#EC2_ENDPOINT='--endpoint-url https://ec2.us-iso-east-1.c2s.ic.gov'
# ELB API endpoint is the same for elb and elbv2 API calls
#ELB_ENDPOINT='--endpoint-url https://elasticloadbalancing.us-iso-east-1.c2s.ic.gov'
#KMS_ENDPOINT='--endpoint-url https://kms.us-iso-east-1.c2s.ic.gov'

# Endpoints for Commercial AWS
#EC2_ENDPOINT="--endpoint-url "
#ELB_ENDPOINT="--endpoint-url "
#KMS_ENDPOINT="--endpoint-url "

# Endpoints for AWS GovCloud
#EC2_ENDPOINT="--endpoint-url "
#ELB_ENDPOINT="--endpoint-url "
#KMS_ENDPOINT="--endpoint-url "


AWS_ACCT_ID='1234-5678-9012'

AWS_OPTS=""
#AWS_OPTS="--no-verify-ssl"

#Insert your already created subnet, vpc, and kms id below
EC2_SUBNET="subnet-"
VPC_ID='vpc-'
KMS_KEY_ID=''

export KUBECONFIG="${IGNITION_CONFIGS}/auth/kubeconfig"

export BOOTSTRAP_IP="10.0.106.50"
export MASTER0_IP="10.0.106.51"
export MASTER1_IP="10.0.106.52"
export MASTER2_IP="10.0.106.53"
export WORKER0_IP="10.0.106.61"
export WORKER1_IP="10.0.106.62"
export WORKER2_IP="10.0.106.63"
