# Set this to something else if you have multiple on the same host

SCRIPT_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"

OPENSHIFT_INSTALL=openshift-install
# AMIs
# 4.2.12 - ami-00d4375c5625a0988
# 4.3.0-0.nightly-2019-12-24-120035 - ami-03f3e738345ae42d4
#AMI=ami-00d4375c5625a0988
#AMI=ami-03f3e738345ae42d4
# RHCOS 4.5 rhcos-45.82.202008062229-0 8/6/2020
AMI="ami-04650213f836c653a"
INSTALL_CONFIG="${SCRIPT_DIR}/install-config.yaml"
FILETRANSPILE="/usr/local/bin/filetranspiler"
FAKEROOTS="${SCRIPT_DIR}/fake-roots"
IGNITION_CONFIGS="${SCRIPT_DIR}/openshift4"
MASTERS=3
WORKERS=3

# AWS CLI commands to launch instances
HTTPD_IP=""

AWS_OPTS="--endpoint-url https://ec2.us-iso-east-1.c2s.ic.gov --no-verify-ssl"
EC2_SUBNET="subnet-"
EC2_SG="sg-"

export KUBECONFIG="${IGNITION_CONFIGS}/auth/kubeconfig"
