# Set this to something else if you have multiple on the same host

SCRIPT_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"

OPENSHIFT_INSTALL=/usr/local/bin/openshift-install
OC=/usr/local/bin/oc
KUBECTL=/usr/local/bin/kubectl

# AMIs
# 4.3 August 21, 2020
# AMI='ami-0c6e24a479d21734d'
# 4.4 August 21, 2020
#AMI='ami-0bcf0fd55f1855d82'
# 4.5 August 21, 2020
AMI='ami-04593971b1fc07aee'

INSTALL_CONFIG="${SCRIPT_DIR}/install-config.yaml"
FILETRANSPILE="/usr/local/bin/filetranspiler"
FAKEROOTS="${SCRIPT_DIR}/fake-roots"
IGNITION_CONFIGS="${SCRIPT_DIR}/openshift4"
MASTERS=3
WORKERS=3

# AWS CLI commands to launch instances
HTTPD_IP=""

AWS_OPTS="--endpoint-url https://ec2.us-iso-east-1.c2s.ic.gov --no-verify-ssl"
EC2_SUBNET="subnet-"
EC2_SG="sg-"

export KUBECONFIG="${IGNITION_CONFIGS}/auth/kubeconfig"
