validate_migration_expected_provisioners:
  - "kubernetes.io/aws-ebs"
  - "kubernetes.io/azure-disk"
  - "kubernetes.io/azure-file"
  - "kubernetes.io/cinder"
  - "kubernetes.io/gce-pd"
  - "kubernetes.io/hostpath-provisioner"
  - "manila.csi.openstack.org"
  - "openshift-storage.cephfs.csi.ceph.com"
  - "openshift-storage.rbd.csi.ceph.com"
  - "kubernetes.io/rbd"
  - "kubernetes.io/vsphere-volume"
