---
# defaults file for mirror_ocp_images
ocp_ver: '4.3.8'
arch: 'x86_64'
local_repo: 'ocp4/openshift4'
product_repo: 'openshift-release-dev'

mirror_base: '/opt/openshift'

# This needs to be a pull secret that combines the pull secret from Red Hat
# to pull all the images down and a pull secret from your local registry so we
# can push to it
pull_secret: "{{ mirror_base }}/pull-secret.json"
release_name: 'ocp-release'

mirror_to_reg: false
mirror_to_dir: true

air_gapped: true

mirror_registry: 'localhost:5000'
mirror_registry_port: 5000
mirror_transport: 'https'
