kind: Secret
apiVersion: v1
metadata:
  namespace: kube-system
  name: aws-creds
data:
  aws_access_key_id: '{{ aws_access_key_id }}'
  aws_secret_access_key: '{{ aws_secret_access_key_id }}'
  aws_session_token: '{{ aws_session_token }}'
