{

  "ignition": {

    "config": {

      "append": [

        {

          "source": "{{ openshift_bootstrap.ignserver }}/{{ openshift_bootstrap.ign_path }}/bootstrap.ign",

          "verification": {}

        }

      ]

    },

    "timeouts": {},

    "version": "{{ ign_version[ ocp_ver[:3] ] }}"

  },

  "networkd": {},

  "passwd": {},

  "storage": {},

  "systemd": {}

}
