apiVersion: operator.openshift.io/v1
kind: IngressController
metadata:
  creationTimestamp: null
  name: default
  namespace: openshift-ingress-operator
spec:
  endpointPublishingStrategy:
    loadBalancer:
      scope: {{ ocp_cluster_publish }}
      providerParameters:
        type: AWS
        aws:
          type: NLB
    type: LoadBalancerService
status:
  availableReplicas: 0
  domain: ""
  selector: ""
