apiVersion: operator.openshift.io/v1
kind: Network
metadata:
  name: cluster
spec: 
  clusterNetwork:
  - cidr: {{ cluster_network_cidr }}
    hostPrefix: {{ cluster_network_prefix }}
  serviceNetwork:
  - {{ service_network_cidr }}
  defaultNetwork:
    type: {{ ocp_sdn }}
    openshiftSDNConfig:
      mode: {{ network_policy }}
      mtu: {{ mtu }}
{% if platform != 'bare_metal' %}
      vxlanPort: {{ vxlanPort }}
{% endif %}
