---
apiVersion: v1
baseDomain: {{ ocp_base_domain }}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{ num_workers }}
metadata:
  name: {{ ocp_cluster_name }}
networking:
  clusterNetwork:
  - cidr: {{ cluster_network_cidr }}
    hostPrefix: {{ cluster_network_prefix }}
  networkType: OpenShiftSDN
  serviceNetwork:
  - {{ service_network_cidr }}
platform:
{% if platform == 'vmware' %}
  vsphere:
    vcenter: {{ vcenter_hostname }}
    username: {{ vcenter_username }}
    password: {{ vcenter_password }}
    datacenter: {{ datacenter_name }}
    defaultDatastore: {{ datastore_name }}
{% elif platform == 'aws' %}
  none: {}
{% elif platform == 'gcp' %}
  none: {}
{% elif platform == 'bare_metal' %}
  none: {}
{% else %}
  none: {}
{% endif %}
pullSecret: '{{ slurped_pull_secret_b64.content | b64decode }}'
sshKey: '{{ slurped_key_b64.content | b64decode }}'
additionalTrustBundle: |
{{ slurped_registry_ca_bundle_b64.content | b64decode }}
{% if platform == 'vmware' %}
{% if slurped_vcenter_ca_bundle_b64 is defined %}
{% for cert in slurped_vcenter_ca_bundle_b64.results %}
{{ cert.content | b64decode }}
{% endfor %}
{% endif %}
{% endif %}
imageContentSources:
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/ocp4/support-tools
  source: registry.redhat.io/rhel7/support-tools
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/kubevirt-cpu-model-nfd-plugin
  source: registry.redhat.io/container-native-virtualization/kubevirt-cpu-model-nfd-plugin
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-template-service-broker
  source: registry.redhat.io/openshift4/ose-template-service-broker
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/fuse7-tech-preview/fuse-camel-k
  source: registry.redhat.io/fuse7-tech-preview/fuse-camel-k
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/rhcam-1-0/openshift-migration-velero-rhel8
  source: registry.redhat.io/rhcam-1-0/openshift-migration-velero-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-oauth-proxy
  source: registry.redhat.io/openshift4/ose-oauth-proxy
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-cluster-logging-operator
  source: registry.redhat.io/openshift4/ose-cluster-logging-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-node-feature-discovery
  source: registry.redhat.io/openshift4/ose-node-feature-discovery
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-service-mesh/istio-rhel8-operator
  source: registry.redhat.io/openshift-service-mesh/istio-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/rhcam-1-0/openshift-migration-ui-rhel8
  source: registry.redhat.io/rhcam-1-0/openshift-migration-ui-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-logging-kibana5
  source: registry.redhat.io/openshift4/ose-logging-kibana5
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/virt-api
  source: registry.redhat.io/container-native-virtualization/virt-api
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/ovs-cni-plugin
  source: registry.redhat.io/container-native-virtualization/ovs-cni-plugin
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-metering-hadoop
  source: registry.redhat.io/openshift4/ose-metering-hadoop
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-cluster-logging-operator
  source: registry.redhat.io/openshift4/ose-cluster-logging-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-logging-fluentd
  source: registry.redhat.io/openshift4/ose-logging-fluentd
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-oauth-proxy
  source: registry.redhat.io/openshift4/ose-oauth-proxy
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-promtail
  source: registry.redhat.io/openshift4/ose-promtail
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-local-storage-operator
  source: registry.redhat.io/openshift4/ose-local-storage-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-knative/knative-openshift-ingress
  source: quay.io/openshift-knative/knative-openshift-ingress
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-logging-elasticsearch5
  source: registry.redhat.io/openshift4/ose-logging-elasticsearch5
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/hyperconverged-cluster-operator
  source: registry.redhat.io/container-native-virtualization/hyperconverged-cluster-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/kubernetes-nmstate-handler-rhel8
  source: registry.redhat.io/container-native-virtualization/kubernetes-nmstate-handler-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/virt-cdi-controller
  source: registry.redhat.io/container-native-virtualization/virt-cdi-controller
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-ansible-service-broker
  source: registry.redhat.io/openshift4/ose-ansible-service-broker
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-metering-hive
  source: registry.redhat.io/openshift4/ose-metering-hive
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-knative/knative-serving-operator
  source: quay.io/openshift-knative/knative-serving-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-serverless-1-tech-preview/serving-controller-rhel8
  source: registry.redhat.io/openshift-serverless-1-tech-preview/serving-controller-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-cluster-logging-operator
  source: registry.redhat.io/openshift4/ose-cluster-logging-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/virt-launcher
  source: registry.redhat.io/container-native-virtualization/virt-launcher
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-local-storage-static-provisioner
  source: registry.redhat.io/openshift4/ose-local-storage-static-provisioner
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-elasticsearch-operator
  source: registry.redhat.io/openshift4/ose-elasticsearch-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-service-mesh/istio-rhel8-operator
  source: registry.redhat.io/openshift-service-mesh/istio-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-sriov-cni
  source: registry.redhat.io/openshift4/ose-sriov-cni
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-sriov-network-operator
  source: registry.redhat.io/openshift4/ose-sriov-network-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-logging-elasticsearch5
  source: registry.redhat.io/openshift4/ose-logging-elasticsearch5
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-serverless-1-tech-preview/ingress-rhel8-operator
  source: registry.redhat.io/openshift-serverless-1-tech-preview/ingress-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-service-mesh/istio-rhel8-operator
  source: registry.redhat.io/openshift-service-mesh/istio-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-service-mesh/kiali-rhel7
  source: registry.redhat.io/openshift-service-mesh/kiali-rhel7
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/cluster-network-addons-operator
  source: registry.redhat.io/container-native-virtualization/cluster-network-addons-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-sriov-network-device-plugin
  source: registry.redhat.io/openshift4/ose-sriov-network-device-plugin
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/rhcam-1-1/openshift-migration-velero-rhel8
  source: registry.redhat.io/rhcam-1-1/openshift-migration-velero-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-service-mesh/kiali-rhel7-operator
  source: registry.redhat.io/openshift-service-mesh/kiali-rhel7-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-service-mesh/kiali-rhel7-operator
  source: registry.redhat.io/openshift-service-mesh/kiali-rhel7-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/cnv-must-gather-rhel8
  source: registry.redhat.io/container-native-virtualization/cnv-must-gather-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-serverless-1-tech-preview/knative-rhel8-operator
  source: registry.redhat.io/openshift-serverless-1-tech-preview/knative-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-sriov-network-config-daemon
  source: registry.redhat.io/openshift4/ose-sriov-network-config-daemon
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/rhcam-1-1/openshift-migration-velero-plugin-for-microsoft-azure-rhel8
  source: registry.redhat.io/rhcam-1-1/openshift-migration-velero-plugin-for-microsoft-azure-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-oauth-proxy
  source: registry.redhat.io/openshift4/ose-oauth-proxy
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/virt-cdi-cloner
  source: registry.redhat.io/container-native-virtualization/virt-cdi-cloner
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-sriov-network-device-plugin
  source: registry.redhat.io/openshift4/ose-sriov-network-device-plugin
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-sriov-network-operator
  source: registry.redhat.io/openshift4/ose-sriov-network-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-elasticsearch-operator
  source: registry.redhat.io/openshift4/ose-elasticsearch-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/kubevirt-cpu-node-labeller
  source: registry.redhat.io/container-native-virtualization/kubevirt-cpu-node-labeller
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-service-mesh/istio-rhel8-operator
  source: registry.redhat.io/openshift-service-mesh/istio-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/virt-cdi-uploadproxy
  source: registry.redhat.io/container-native-virtualization/virt-cdi-uploadproxy
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-ansible-service-broker
  source: registry.redhat.io/openshift4/ose-ansible-service-broker
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-service-mesh/istio-rhel8-operator
  source: registry.redhat.io/openshift-service-mesh/istio-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/rhpam-7/rhpam74-operator
  source: registry.redhat.io/rhpam-7/rhpam74-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-node-feature-discovery
  source: registry.redhat.io/openshift4/ose-node-feature-discovery
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-serverless-1-tech-preview/serving-queue-rhel8
  source: registry.redhat.io/openshift-serverless-1-tech-preview/serving-queue-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/cnv-containernetworking-plugins
  source: registry.redhat.io/container-native-virtualization/cnv-containernetworking-plugins
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-sriov-cni
  source: registry.redhat.io/openshift4/ose-sriov-cni
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-sriov-network-config-daemon
  source: registry.redhat.io/openshift4/ose-sriov-network-config-daemon
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/jboss-eap-7/eap73-rhel8-operator
  source: registry.redhat.io/jboss-eap-7/eap73-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-elasticsearch-operator
  source: registry.redhat.io/openshift4/ose-elasticsearch-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/virt-operator
  source: registry.redhat.io/container-native-virtualization/virt-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/amq7/amq-streams-operator
  source: registry.redhat.io/amq7/amq-streams-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-logging-kibana5
  source: registry.redhat.io/openshift4/ose-logging-kibana5
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/kubevirt-template-validator
  source: registry.redhat.io/container-native-virtualization/kubevirt-template-validator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-serverless-1-tech-preview/knative-serving-rhel8-operator
  source: registry.redhat.io/openshift-serverless-1-tech-preview/knative-serving-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-serverless-1-tech-preview/serving-activator-rhel8
  source: registry.redhat.io/openshift-serverless-1-tech-preview/serving-activator-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-cluster-logging-operator
  source: registry.redhat.io/openshift4/ose-cluster-logging-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/hyperconverged-cluster-operator
  source: registry.redhat.io/container-native-virtualization/hyperconverged-cluster-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/ocs4/ocs-rhel8-operator
  source: registry.redhat.io/ocs4/ocs-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/kubevirt-vmware
  source: registry.redhat.io/container-native-virtualization/kubevirt-vmware
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/rhpam-7/rhpam-rhel8-operator
  source: registry.redhat.io/rhpam-7/rhpam-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-service-mesh/kiali-rhel7-operator
  source: registry.redhat.io/openshift-service-mesh/kiali-rhel7-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/cluster-network-addons-operator
  source: registry.redhat.io/container-native-virtualization/cluster-network-addons-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-service-mesh/istio-rhel8-operator
  source: registry.redhat.io/openshift-service-mesh/istio-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-logging-fluentd
  source: registry.redhat.io/openshift4/ose-logging-fluentd
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-cluster-nfd-operator
  source: registry.redhat.io/openshift4/ose-cluster-nfd-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-ansible-service-broker-operator
  source: registry.redhat.io/openshift4/ose-ansible-service-broker-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/virt-cdi-uploadserver
  source: registry.redhat.io/container-native-virtualization/virt-cdi-uploadserver
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/virt-cdi-operator
  source: registry.redhat.io/container-native-virtualization/virt-cdi-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-template-service-broker
  source: registry.redhat.io/openshift4/ose-template-service-broker
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/3scale-amp2/3scale-rhel7-operator
  source: registry.redhat.io/3scale-amp2/3scale-rhel7-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/rhcam-1-0/openshift-migration-plugin-rhel8
  source: registry.redhat.io/rhcam-1-0/openshift-migration-plugin-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-logging-fluentd
  source: registry.redhat.io/openshift4/ose-logging-fluentd
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-service-mesh/istio-rhel8-operator
  source: registry.redhat.io/openshift-service-mesh/istio-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-sriov-dp-admission-controller
  source: registry.redhat.io/openshift4/ose-sriov-dp-admission-controller
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-service-mesh/kiali-rhel7-operator
  source: registry.redhat.io/openshift-service-mesh/kiali-rhel7-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-local-storage-operator
  source: registry.redhat.io/openshift4/ose-local-storage-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-serverless-1-tech-preview/serving-rhel8-operator
  source: registry.redhat.io/openshift-serverless-1-tech-preview/serving-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/rhpam-7/rhpam74-operator
  source: registry.redhat.io/rhpam-7/rhpam74-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-serverless-1-tech-preview/ingress-rhel8-operator
  source: registry.redhat.io/openshift-serverless-1-tech-preview/ingress-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-serverless-1-tech-preview/serving-rhel8-operator
  source: registry.redhat.io/openshift-serverless-1-tech-preview/serving-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-serverless-1-tech-preview/serving-rhel8-operator
  source: registry.redhat.io/openshift-serverless-1-tech-preview/serving-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-serverless-1-tech-preview/serving-controller-rhel8
  source: registry.redhat.io/openshift-serverless-1-tech-preview/serving-controller-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/amq7/amq-interconnect-operator
  source: registry.redhat.io/amq7/amq-interconnect-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/ovs-cni-marker
  source: registry.redhat.io/container-native-virtualization/ovs-cni-marker
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-template-service-broker-operator
  source: registry.redhat.io/openshift4/ose-template-service-broker-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/bridge-marker
  source: registry.redhat.io/container-native-virtualization/bridge-marker
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-metering-presto
  source: registry.redhat.io/openshift4/ose-metering-presto
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-ghostunnel
  source: registry.redhat.io/openshift4/ose-ghostunnel
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/hostpath-provisioner-rhel8
  source: registry.redhat.io/container-native-virtualization/hostpath-provisioner-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-local-storage-diskmaker
  source: registry.redhat.io/openshift4/ose-local-storage-diskmaker
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-serverless-1-tech-preview/kourier-control-rhel8
  source: registry.redhat.io/openshift-serverless-1-tech-preview/kourier-control-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/amq7/amq-online-1-controller-manager
  source: registry.redhat.io/amq7/amq-online-1-controller-manager
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/amq7/amq-streams-operator
  source: registry.redhat.io/amq7/amq-streams-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/node-maintenance-operator
  source: registry.redhat.io/container-native-virtualization/node-maintenance-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/kubevirt-v2v-conversion
  source: registry.redhat.io/container-native-virtualization/kubevirt-v2v-conversion
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-serverless-1-tech-preview/knative-serving-rhel8-operator
  source: registry.redhat.io/openshift-serverless-1-tech-preview/knative-serving-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/amq7/amq-online-1-api-server
  source: registry.redhat.io/amq7/amq-online-1-api-server
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/rhcam-1-0/openshift-migration-velero-restic-restore-helper-rhel8
  source: registry.redhat.io/rhcam-1-0/openshift-migration-velero-restic-restore-helper-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/kubevirt-ssp-operator
  source: registry.redhat.io/container-native-virtualization/kubevirt-ssp-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-serverless-1-tech-preview/serving-autoscaler-hpa-rhel8
  source: registry.redhat.io/openshift-serverless-1-tech-preview/serving-autoscaler-hpa-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/amq7/amq-cert-manager
  source: registry.redhat.io/amq7/amq-cert-manager
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/virt-operator
  source: registry.redhat.io/container-native-virtualization/virt-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-serverless-1-tech-preview/serving-activator-rhel8
  source: registry.redhat.io/openshift-serverless-1-tech-preview/serving-activator-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-service-mesh/istio-rhel8-operator
  source: registry.redhat.io/openshift-service-mesh/istio-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/fuse7/fuse-online-operator
  source: registry.redhat.io/fuse7/fuse-online-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-local-storage-diskmaker
  source: registry.redhat.io/openshift4/ose-local-storage-diskmaker
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-serverless-1-tech-preview/serving-webhook-rhel8
  source: registry.redhat.io/openshift-serverless-1-tech-preview/serving-webhook-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/3scale-amp2/3scale-rhel7-operator
  source: registry.redhat.io/3scale-amp2/3scale-rhel7-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-metering-ansible-operator
  source: registry.redhat.io/openshift4/ose-metering-ansible-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-cluster-nfd-operator
  source: registry.redhat.io/openshift4/ose-cluster-nfd-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-metering-hive
  source: registry.redhat.io/openshift4/ose-metering-hive
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-ptp
  source: registry.redhat.io/openshift4/ose-ptp
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/ocs4/mcg-rhel8-operator
  source: registry.redhat.io/ocs4/mcg-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/rhcam-1-1/openshift-migration-velero-plugin-for-aws-rhel8
  source: registry.redhat.io/rhcam-1-1/openshift-migration-velero-plugin-for-aws-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/rhcam-1-1/openshift-migration-ui-rhel8
  source: registry.redhat.io/rhcam-1-1/openshift-migration-ui-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-service-mesh/kiali-rhel7
  source: registry.redhat.io/openshift-service-mesh/kiali-rhel7
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/amq7/amq-online-1-controller-manager
  source: registry.redhat.io/amq7/amq-online-1-controller-manager
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-local-storage-static-provisioner
  source: registry.redhat.io/openshift4/ose-local-storage-static-provisioner
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-metering-presto
  source: registry.redhat.io/openshift4/ose-metering-presto
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-service-mesh/istio-rhel8-operator
  source: registry.redhat.io/openshift-service-mesh/istio-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-sriov-dp-admission-controller
  source: registry.redhat.io/openshift4/ose-sriov-dp-admission-controller
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/rhpam-7/rhpam-rhel8-operator
  source: registry.redhat.io/rhpam-7/rhpam-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-service-mesh/kiali-rhel7-operator
  source: registry.redhat.io/openshift-service-mesh/kiali-rhel7-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/kubevirt-kvm-info-nfd-plugin
  source: registry.redhat.io/container-native-virtualization/kubevirt-kvm-info-nfd-plugin
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/fuse7-tech-preview/fuse-camel-k
  source: registry.redhat.io/fuse7-tech-preview/fuse-camel-k
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/kubevirt-ssp-operator
  source: registry.redhat.io/container-native-virtualization/kubevirt-ssp-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-service-mesh/kiali-rhel7-operator
  source: registry.redhat.io/openshift-service-mesh/kiali-rhel7-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-serverless-1-tech-preview/ingress-rhel8-operator
  source: registry.redhat.io/openshift-serverless-1-tech-preview/ingress-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-logging-kibana5
  source: registry.redhat.io/openshift4/ose-logging-kibana5
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-local-storage-static-provisioner
  source: registry.redhat.io/openshift4/ose-local-storage-static-provisioner
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-serverless-1-tech-preview/ingress-rhel8-operator
  source: registry.redhat.io/openshift-serverless-1-tech-preview/ingress-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-logging-elasticsearch5
  source: registry.redhat.io/openshift4/ose-logging-elasticsearch5
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-ansible-service-broker
  source: registry.redhat.io/openshift4/ose-ansible-service-broker
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/virtio-win
  source: registry.redhat.io/container-native-virtualization/virtio-win
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-serverless-1-tech-preview/serving-networking-istio-rhel8
  source: registry.redhat.io/openshift-serverless-1-tech-preview/serving-networking-istio-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-serverless-1-tech-preview/serving-queue-rhel8
  source: registry.redhat.io/openshift-serverless-1-tech-preview/serving-queue-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/amq7/amq-online-1-api-server
  source: registry.redhat.io/amq7/amq-online-1-api-server
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/amq7/amq-streams-cluster-operator
  source: registry.access.redhat.com/amq7/amq-streams-cluster-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/rhcam-1-1/openshift-migration-rhel7-operator
  source: registry.redhat.io/rhcam-1-1/openshift-migration-rhel7-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-logging-curator5
  source: registry.redhat.io/openshift4/ose-logging-curator5
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-oauth-proxy
  source: registry.redhat.io/openshift4/ose-oauth-proxy
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/virt-cdi-importer
  source: registry.redhat.io/container-native-virtualization/virt-cdi-importer
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-metering-reporting-operator
  source: registry.redhat.io/openshift4/ose-metering-reporting-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-template-service-broker
  source: registry.redhat.io/openshift4/ose-template-service-broker
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-ptp-operator
  source: registry.redhat.io/openshift4/ose-ptp-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/rhcam-1-1/openshift-migration-controller-rhel8
  source: registry.redhat.io/rhcam-1-1/openshift-migration-controller-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/rhcam-1-1/openshift-migration-velero-restic-restore-helper-rhel8
  source: registry.redhat.io/rhcam-1-1/openshift-migration-velero-restic-restore-helper-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-logging-fluentd
  source: registry.redhat.io/openshift4/ose-logging-fluentd
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/fuse7-tech-preview/fuse-apicurito-operator
  source: registry.redhat.io/fuse7-tech-preview/fuse-apicurito-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-sriov-network-operator
  source: registry.redhat.io/openshift4/ose-sriov-network-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-local-storage-diskmaker
  source: registry.redhat.io/openshift4/ose-local-storage-diskmaker
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-ansible-service-broker-operator
  source: registry.redhat.io/openshift4/ose-ansible-service-broker-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-serverless-1-tech-preview/serving-autoscaler-rhel8
  source: registry.redhat.io/openshift-serverless-1-tech-preview/serving-autoscaler-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-sriov-network-device-plugin
  source: registry.redhat.io/openshift4/ose-sriov-network-device-plugin
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/3scale-amp2/3scale-rhel7-operator
  source: registry.redhat.io/3scale-amp2/3scale-rhel7-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/ocs4/rook-ceph-rhel8-operator
  source: registry.redhat.io/ocs4/rook-ceph-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-sriov-network-config-daemon
  source: registry.redhat.io/openshift4/ose-sriov-network-config-daemon
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/distributed-tracing/jaeger-rhel7-operator
  source: registry.redhat.io/distributed-tracing/jaeger-rhel7-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/hostpath-provisioner-rhel8-operator
  source: registry.redhat.io/container-native-virtualization/hostpath-provisioner-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-serverless-1-tech-preview/serving-autoscaler-rhel8
  source: registry.redhat.io/openshift-serverless-1-tech-preview/serving-autoscaler-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/amq7/amq-broker-rhel7-operator
  source: registry.redhat.io/amq7/amq-broker-rhel7-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/rhcam-1-1/openshift-migration-plugin-rhel8
  source: registry.redhat.io/rhcam-1-1/openshift-migration-plugin-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/fuse7-tech-preview/dv-rhel7-operator
  source: registry.redhat.io/fuse7-tech-preview/dv-rhel7-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/kubemacpool
  source: registry.redhat.io/container-native-virtualization/kubemacpool
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/virt-cdi-apiserver
  source: registry.redhat.io/container-native-virtualization/virt-cdi-apiserver
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-sriov-cni
  source: registry.redhat.io/openshift4/ose-sriov-cni
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/3scale-amp26/3scale-operator
  source: registry.redhat.io/3scale-amp26/3scale-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-elasticsearch-operator
  source: registry.redhat.io/openshift4/ose-elasticsearch-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-service-mesh/kiali-rhel7-operator
  source: registry.redhat.io/openshift-service-mesh/kiali-rhel7-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-sriov-network-webhook
  source: registry.redhat.io/openshift4/ose-sriov-network-webhook
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/amq7/amq-online-1-address-space-controller
  source: registry.redhat.io/amq7/amq-online-1-address-space-controller
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/virt-handler
  source: registry.redhat.io/container-native-virtualization/virt-handler
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-local-storage-operator
  source: registry.redhat.io/openshift4/ose-local-storage-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/amq7/amq-online-1-address-space-controller
  source: registry.redhat.io/amq7/amq-online-1-address-space-controller
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/rhcam-1-0/openshift-migration-rhel7-operator
  source: registry.redhat.io/rhcam-1-0/openshift-migration-rhel7-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/codeready-workspaces/server-operator-rhel8
  source: registry.redhat.io/codeready-workspaces/server-operator-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/amqstreams-1/amqstreams10-clusteroperator-openshift
  source: registry.access.redhat.com/amqstreams-1/amqstreams10-clusteroperator-openshift
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/rhcam-1-1/openshift-migration-velero-plugin-for-gcp-rhel8
  source: registry.redhat.io/rhcam-1-1/openshift-migration-velero-plugin-for-gcp-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/jboss-datagrid-7-tech-preview/datagrid-operator
  source: registry.redhat.io/jboss-datagrid-7-tech-preview/datagrid-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-template-service-broker
  source: registry.redhat.io/openshift4/ose-template-service-broker
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/rhcam-1-1/openshift-migration-registry-rhel8
  source: registry.redhat.io/rhcam-1-1/openshift-migration-registry-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/codeready-workspaces/server-operator-rhel8
  source: registry.redhat.io/codeready-workspaces/server-operator-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-serverless-1-tech-preview/knative-rhel8-operator
  source: registry.redhat.io/openshift-serverless-1-tech-preview/knative-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/rhcam-1-0/openshift-migration-controller-rhel8
  source: registry.redhat.io/rhcam-1-0/openshift-migration-controller-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-logging-curator5
  source: registry.redhat.io/openshift4/ose-logging-curator5
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-template-service-broker-operator
  source: registry.redhat.io/openshift4/ose-template-service-broker-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-ansible-service-broker-operator
  source: registry.redhat.io/openshift4/ose-ansible-service-broker-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-serverless-1-tech-preview/knative-rhel8-operator
  source: registry.redhat.io/openshift-serverless-1-tech-preview/knative-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-logging-curator5
  source: registry.redhat.io/openshift4/ose-logging-curator5
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/kubevirt-metrics-collector
  source: registry.redhat.io/container-native-virtualization/kubevirt-metrics-collector
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-ghostunnel
  source: registry.redhat.io/openshift4/ose-ghostunnel
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-serverless-1-tech-preview/serving-autoscaler-hpa-rhel8
  source: registry.redhat.io/openshift-serverless-1-tech-preview/serving-autoscaler-hpa-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-service-mesh/proxyv2-rhel8
  source: registry.redhat.io/openshift-service-mesh/proxyv2-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-sriov-dp-admission-controller
  source: registry.redhat.io/openshift4/ose-sriov-dp-admission-controller
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-logging-elasticsearch5
  source: registry.redhat.io/openshift4/ose-logging-elasticsearch5
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-logging-kibana5
  source: registry.redhat.io/openshift4/ose-logging-kibana5
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/node-maintenance-operator
  source: registry.redhat.io/container-native-virtualization/node-maintenance-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-ansible-service-broker-operator
  source: registry.redhat.io/openshift4/ose-ansible-service-broker-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-metering-ansible-operator
  source: registry.redhat.io/openshift4/ose-metering-ansible-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-metering-reporting-operator
  source: registry.redhat.io/openshift4/ose-metering-reporting-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-metering-hadoop
  source: registry.redhat.io/openshift4/ose-metering-hadoop
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-serverless-1-tech-preview/serving-webhook-rhel8
  source: registry.redhat.io/openshift-serverless-1-tech-preview/serving-webhook-rhel8
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/rhcam-1-0/openshift-migration-rhel7-operator
  source: registry.redhat.io/rhcam-1-0/openshift-migration-rhel7-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-logging-curator5
  source: registry.redhat.io/openshift4/ose-logging-curator5
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-node-feature-discovery
  source: registry.redhat.io/openshift4/ose-node-feature-discovery
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-serverless-1-tech-preview/ingress-rhel8-operator
  source: registry.redhat.io/openshift-serverless-1-tech-preview/ingress-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/rhpam-7/rhpam-rhel8-operator
  source: registry.redhat.io/rhpam-7/rhpam-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/virt-cdi-operator
  source: registry.redhat.io/container-native-virtualization/virt-cdi-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-template-service-broker-operator
  source: registry.redhat.io/openshift4/ose-template-service-broker-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/container-native-virtualization/virt-controller
  source: registry.redhat.io/container-native-virtualization/virt-controller
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-template-service-broker-operator
  source: registry.redhat.io/openshift4/ose-template-service-broker-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift-service-mesh/istio-rhel8-operator
  source: registry.redhat.io/openshift-service-mesh/istio-rhel8-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-cluster-nfd-operator
  source: registry.redhat.io/openshift4/ose-cluster-nfd-operator
- mirrors:
  - {{ mirror_registry }}:{{ mirror_registry_port }}/openshift4/ose-ansible-service-broker
  source: registry.redhat.io/openshift4/ose-ansible-service-broker
