---
# Fully air-gap install??
air_gapped: true

# Supported platforms include
# vmware, aws, gcp, bare_metal, none
platform: 'none'

# UEFI support
uefi_enabled: false

# Pip Command
# Change to a full path if pip is not in the user's PATH
pip_cmd: pip3

###################################################################
# Path to binaries
###################################################################
openshift_install: '/usr/local/bin/openshift-install'
openshift_client: '/usr/local/bin/oc'
kubectl: '/usr/local/bin/kubectl'
filetranspile: '/usr/local/bin/filetranspiler'
fakeroots: 'fakeroots'

###############################################

# RedHat CoreOS Version. Might not match OpenShift Version
# 4.3.8 and 4.4.3 currently available
rhcos_ver: '4.5.2'
# OpenShift Version
# 4.3.21 and 4.4.7 currently available
ocp_ver: '4.5.4'
# RHCOS and OpenShift Architecture
arch: 'x86_64'

# Ignition Config version mapped to OpenShift Major Version Number
ign_version:
  '4.2': '2.1.0'
  '4.3': '2.1.0'
  '4.4': '2.1.0'
  '4.5': '2.2.0'
  '4.6': '3.1.0'
  '4.7': '3.1.0'

kube_ssl_enabled: false
kubeconfig: "{{ ansible_env.HOME }}/.kube/config"

master_count: 3
worker_count: 3

fips_enabled: false

ocp_cluster_publish: 'External'
ocp_sdn: 'OpenShiftSDN'

ocp_base_domain: 'example.com'
ocp_cluster_name: 'caas'

# This is the default location of the ssk key pair that will be created by the
# generate_ignition role. You probably don't have to change this unless specifying your
# own ssh key pair
ssh_public_key_file: '{{ ansible_env.HOME }}/.ssh/{{ ocp_cluster_name}}_rsa.pub'

# Certificate bundle that will be added to the install-config.yaml
# This generally includes a certificate for the disconnected docker registry
certificate_bundle: '/etc/pki/ca-trust/source/anchors/registry.crt'

###############################################

###############################################################
# Base directory for all other mirror tasks
################################################################
mirror_base: '/opt/openshift'
mirror_registry: 'quay.example.com'
mirror_registry_port: 5000
mirror_transport: 'https'
ignition_configs: "{{ mirror_base }}/cluster"
# This is the secret that will be uploaded to the mirror server
# for use in mirroring images
local_pull_secret: '{{ ansible_env.HOME }}/Downloads/pull-secret.txt'
# This is the same secret as above but located on the mirror server
pull_secret: '{{ mirror_base }}/pull-secret.txt'

docker_registry_hostname: '{{ mirror_registry }}'


#####################################################
# OpenShift Hosts
#####################################################

# static or dhcp network mode for installing the cluster
network_mode: static

#This needs to be set to the disk where you are installing RHCOS
disk: 'sda'

openshift_bootstrap:
  - name: 'bootstrap'
    mac: '00:50:56:97:0c:85'
    ip: '192.168.1.50'
    device: 'ens192'
    netmask: '255.255.255.0'
    gateway: '192.168.1.1'
    bmc: ''
    hostname: 'bootstrap.{{ ocp_cluster_name }}.{{ ocp_base_domain }}'
    nameserver: '192.168.1.42'
    ignserver: 'http://192.168.1.42:8090'
    bios_path: 'install/rhcos-{{ rhcos_ver }}-{{ arch }}-metal.{{ arch }}.raw.gz'
    ign_path: '{{ ocp_cluster_name }}/ignition/bootstrap.ign'
    type: 'bootstrap'

openshift_masters:
  - name: 'master0'
    ip: '192.168.1.51'
    device: 'ens192'
    mac: '00:50:56:97:7d:3c'
    netmask: '255.255.255.0'
    gateway: '192.168.1.1'
    bmc: ''
    hostname: 'master0.{{ ocp_cluster_name }}.{{ ocp_base_domain }}'
    nameserver: '192.168.1.42'
    ignserver: 'http://192.168.1.42:8090'
    bios_path: 'install/rhcos-{{ rhcos_ver }}-{{ arch }}-metal.{{ arch }}.raw.gz'
    ign_path: '{{ ocp_cluster_name }}/ignition/master0.ign'
    type: 'master'
  - name: 'master1'
    ip: '192.168.1.52'
    device: 'ens192'
    mac: '00:50:56:97:5e:fc'
    netmask: '255.255.255.0'
    gateway: '192.168.1.1'
    bmc: ''
    hostname: 'master1.{{ ocp_cluster_name }}.{{ ocp_base_domain }}'
    nameserver: '192.168.1.42'
    ignserver: 'http://192.168.1.42:8090'
    bios_path: 'install/rhcos-{{ rhcos_ver }}-{{ arch }}-metal.{{ arch }}.raw.gz'
    ign_path: '{{ ocp_cluster_name }}/ignition/master1.ign'
    type: 'master'
  - name: 'master2'
    ip: '192.168.1.53'
    device: 'ens192'
    mac: '00:50:56:97:1e:f8'
    netmask: '255.255.255.0'
    gateway: '192.168.1.1'
    bmc: ''
    hostname: 'master2.{{ ocp_cluster_name }}.{{ ocp_base_domain }}'
    nameserver: '192.168.1.42'
    ignserver: 'http://192.168.1.42:8090'
    bios_path: 'install/rhcos-{{ rhcos_ver }}-{{ arch }}-metal.{{ arch }}.raw.gz'
    ign_path: '{{ ocp_cluster_name }}/ignition/master2.ign'
    type: 'master'


openshift_workers:
  - name: 'worker0'
    ip: '192.168.1.61'
    device: 'ens192'
    mac: '00:50:56:97:1e:9b'
    netmask: '255.255.255.0'
    gateway: '192.168.1.1'
    bmc: ''
    hostname: 'worker0.{{ ocp_cluster_name }}.{{ ocp_base_domain }}'
    nameserver: '192.168.1.42'
    ignserver: 'http://192.168.1.42:8090'
    bios_path: 'install/rhcos-{{ rhcos_ver }}-{{ arch }}-metal.{{ arch }}.raw.gz'
    ign_path: '{{ ocp_cluster_name }}/ignition/worker0.ign'
    type: 'worker'
  - name: 'worker1'
    ip: '192.168.1.62'
    device: 'ens192'
    mac: '00:50:56:97:aa:49'
    netmask: '255.255.255.0'
    gateway: '192.168.1.1'
    bmc: ''
    hostname: 'worker1.{{ ocp_cluster_name }}.{{ ocp_base_domain }}'
    nameserver: '192.168.1.42'
    ignserver: 'http://192.168.1.42:8090'
    bios_path: 'install/rhcos-{{ rhcos_ver }}-{{ arch }}-metal.{{ arch }}.raw.gz'
    ign_path: '{{ ocp_cluster_name }}/ignition/worker1.ign'
    type: 'worker'
  - name: 'worker2'
    ip: '192.168.1.63'
    device: 'ens192'
    mac: '00:50:56:97:4c:2f'
    netmask: '255.255.255.0'
    gateway: '192.168.1.1'
    bmc: ''
    hostname: 'worker2.{{ ocp_cluster_name }}.{{ ocp_base_domain }}'
    nameserver: '192.168.1.42'
    ignserver: 'http://192.168.1.42:8090'
    bios_path: 'install/rhcos-{{ rhcos_ver }}-{{ arch }}-metal.{{ arch }}.raw.gz'
    ign_path: '{{ ocp_cluster_name }}/ignition/worker2.ign'
    type: 'worker'
