---
  
# AWS supports jumbo frames. Some private AWS regions
# will need a lower value here, around 8000
mtu: 9000

aws_region: 'us-east-1'

rhcos_ami:
  '4.6.8': 'ami-01d4ce8cb7734d27b'
  '4.7.0': 'ami-0ccf438713c096327'

aws_region: 'us-iso-east-1'
ec2_endpoint: 'https://ec2.us-iso-east-1.c2s.ic.gov'
s3_endpoint: 'https://s3.us-iso-east-1.c2s.ic.gov'
route53_endpoint: 'https://route53.us-iso-east-1.c2s.ic.gov'
elb_endpoint: 'https://elasticloadbalancing.us-iso-east-1.c2s.ic.gov'
aws_ssl_enabled: false

ec2_key_name: ''

vpc_id: 'vpc-'
subnet_id: 'subnet-'

ec2_instance_type:
  bootstrap: i3.large
  master: m4.xlarge
  worker: m4.xlarge

ec2_volume_size_root:
  bootstrap: 50
  master: 50
  worker: 50

ec2_iam_role:
  bootstrap: ''
  master: ''
  worker: ''
