---

vcenter_username: ''
vcenter_password: ''
vcenter_hostname: 'vcenter.example.com'
esxi_hostname: 'esxi.example.com'
vcenter_port: 443
datacenter_name: 'Example Main Datacenter'
datastore_name: 'NVMe-Datastore'
vswitch_name: 'openshift'
portgroup_name: 'ocp_pg'
vcenter_cluster_name: 'esxi.example.com'
rhcos_template_name: 'rhcos'
vmware_ssl_enabled: false
