[Unit]
Description=Podman Container Registry

[Service]
Restart=always
ExecStart=/usr/bin/podman start -a {{docker_registry_container_name}}
ExecStop=/usr/bin/podman stop -t 15 {{docker_registry_container_name}}

[Install]
WantedBy=local.target
