name: {{ _target_name }}
description: VMware Target - {{ _target_name }}
organization: "{{ aap_seed_aap_org_name }}"
credential_type: VMware Migration Target
inputs:
  name: "{{ migration_target['name'] }}"
  host: "{{ migration_target['host'] }}"
  password: "{{ migration_target['password'] }}"
  username: "{{ migration_target['username'] }}"
  provider_name: "vsphere"
  insecure_ssl: {{ migration_target['insecureSkipTlsVerify'] | default(false) }}
  credentials_secret_ref: {{ migration_target['credentialsSecretRef'] | default(omit) }}
{% if 'vddk' in migration_target and migration_target['vddk'] is not none %}
{% if 'image' in migration_target['vddk'] and migration_target['vddk']['image'] | default('', true) | trim | length > 0 %}
  vddk_init_image: {{ migration_target['vddk']['image'] }}
{% endif %}
{% if 'username' in migration_target['vddk'] and migration_target['vddk']['username'] | default('', true) | trim | length > 0 %}
  vddk_init_image_username: {{ migration_target['vddk']['username'] }}
{% endif %}
{% if 'image' in migration_target['vddk'] and migration_target['vddk']['password'] | default('', true) | trim | length > 0 %}
  vddk_init_image_password: {{ migration_target['vddk']['password'] }}
{% endif %}
{% if 'image' in migration_target['vddk'] and migration_target['vddk']['credentialsSecret'] | default('', true) | trim | length > 0 %}
  vddk_init_image_credentials_secret: {{ migration_target['vddk']['credentialsSecret'] }}
{% endif %}
{% endif %}
