---
apiVersion: v1
kind: Secret
metadata:
  namespace: {{ quay_namespace }}
  name: redhat-pull-secret
data:
  .dockerconfigjson: 'eyJhdXRocyI6eyJxdWF5LmlvIjp7ImF1dGgiOiJjbVZrYUdGMEszRjFZWGs2VHpneFYxTklVbE5LVWpFMFZVRmFRa3MxTkVkUlNFcFRNRkF4VmpSRFRGZEJTbFl4V0RKRE5GTkVOMHRQTlRsRFVUbE9NMUpGTVRJMk1USllWVEZJVWc9PSIsImVtYWlsIjoiIn19fQo='
type: kubernetes.io/dockerconfigjson
