apiVersion: v1
data:
  superuser-email: {{ quay_admin_email | string | b64encode }}
  superuser-password: {{ quay_admin_password | string | b64encode }}
  superuser-username: {{ quay_admin_username | string | b64encode }}
kind: Secret
metadata:
  name: quay-admin
  namespace: quay-enterprise
type: Opaque
