apiVersion: v1
data:
  database-name: {{ quay_db_name | string | b64encode }}
  database-password: {{ quay_db_password | string | b64encode }}
  database-root-password: {{ quay_db_root_password | string | b64encode }}
  database-username: {{ quay_db_user | string | b64encode }}
kind: Secret
metadata:
  name: postgres-creds
  namespace: {{ quay_namespace }}
type: Opaque
