---
apiVersion: operator.openshift.io/v1alpha1
kind: ImageContentSourcePolicy
metadata:
  name: nfs_provisioner
spec:
  repositoryDigestMirrors:
  - mirrors:
    - {{ mirror_registry }}/external_storage/nfs-client-provisioner
    source: quay.io/external_storage/nfs-client-provisioner
