---
apiVersion: operator.openshift.io/v1alpha1
kind: ImageContentSourcePolicy
metadata:
  name: nfsprovisioner
spec:
  repositoryDigestMirrors:
  - mirrors:
    - {{ mirror_registry }}{{ mirror_registry_port }}/external_storage/nfs-client-provisioner
    source: quay.io/external_storage/nfs-client-provisioner
