{% for aap_machine_credentials_base_key in aap_machine_credentials_base_keys %}
{% if aap_machine_credentials_base_key['name'] in aap_machine_credentials_combined or 'default' in aap_machine_credentials_base_key %}
{{ aap_machine_credentials_base_key['name'] }}: "{{ aap_machine_credentials_combined[aap_machine_credentials_base_key['name']] | default(aap_machine_credentials_base_key['default']) }}"
{% endif %}
{% endfor %}
inputs:
{% for aap_machine_credentials_input_key in aap_machine_credentials_input_keys %}
{% if aap_machine_credentials_input_key in aap_machine_credentials_combined %}
  {{ aap_machine_credentials_input_key }}: "{{ aap_machine_credentials_combined[aap_machine_credentials_input_key] }}"
{% endif %}
{% endfor %}
