*.swp
*.mine
ansible.log
group_vars/all/infra/aws.yml
group_vars/all/infra/vmware.yml
group_vars/all/infra/dell.yml
group_vars/all/infra/hp.yml
group_vars/all/infra/all.yml
group_vars/all/infra/ipa.yml
group_vars/all/software/dhcp_server.yaml
group_vars/all/software/dns_server.yaml
group_vars/all/software/helper_server.yaml
group_vars/all/software/httpd_server.yaml
group_vars/all/software/load_balancer.yaml
group_vars/all/software/mirror_server.yaml
group_vars/all/software/ntp_server.yaml
group_vars/all/software/pxe_server.yaml
group_vars/all/software/registry_server.yaml
