---
- hosts: helper_node
  gather_facts: true
  become: true
  tasks:

    - name: Install Ansible roles and collections from mirror
      include_role:
        name: mirror_ansible
        tasks_from: install
