apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: redhat-operators-catalog
  namespace: openshift-marketplace
spec:
  sourceType: grpc
  image: {{ registry_hostname : port }}/olm/redhat-operators:v1
  displayName: Redhat Operators Catalog
  publisher: grpc
